bc
build-essential
ca-certificates
curl
dkms
dfu-util
htop
libncurses5-dev
libnl-3-dev
libnl-genl-3-dev
libusb-1.0-0-dev
mercurial
netcat
net-tools
python-dev
python-pip
sudo
usbutils
vim
wireless-tools
wget
