###############################################################################
###################################  HAL  #####################################
###############################################################################

ifeq ($(CONFIG_IMX_ANDROID_PLATFORM), y)
	EXTRA_CFLAGS += -DANDROID_PLATFORM
endif

ifeq ($(RSI_CONFIG_ANDROID), y)
	USE_OS = "ANDROID"
else
	USE_OS = "LINUX"
endif

ifeq ($(CONFIG_USB), y)
	USE_DEVICE = "USB"
endif

ifeq ($(CONFIG_SDIO), y)
	USE_DEVICE = "SDIO"

endif

ifeq ($(ENABLE_USB), y)
	USE_USB = "Y"
endif
ifeq ($(ENABLE_SDIO), y)
	USE_SDIO = "Y"
endif

ifeq ($(ENABLE_WLAN), y)
	COMPILE_WLAN = "Y"
	EXTRA_CFLAGS += -DWLAN_ENABLE
endif

ifeq ($(ENABLE_BT), y)
	COMPILE_BT = "Y"
	EXTRA_CFLAGS += -DBT_ENABLE
endif

ifeq ($(ENABLE_ZIGB), y)
	COMPILE_ZIGB = "Y"
	EXTRA_CFLAGS += -DZIGB_ENABLE
endif

ifeq ($(CONFIG_CHW_20_40), y)
	EXTRA_CFLAGS += -DENABLE_40_MHZ
endif


EXTRA_CFLAGS += -DONEBOX_DEBUG_ENABLE
EXTRA_CFLAGS += -DPROGRAMMING_BBP_TA
EXTRA_CFLAGS += -DPROGRAMMING_SCAN_TA
EXTRA_CFLAGS += -DRSI_SDIO_MULTI_BLOCK_SUPPORT
ifeq ($(CHIP_ENABLED),y)
	EXTRA_CFLAGS += -DCHIP_ENABLED
endif
ifeq ($(SECURITY_SUPPORT),y)
endif

ifeq ($(ENABLE_PER_MODE),y)
	EXTRA_CFLAGS += -DENABLE_PER_MODE
endif

#EXTRA_CFLAGS += -DWIFI_ALLIANCE

ifeq ($(ONEBOX_CONFIG_NL80211),y)
	EXTRA_CFLAGS += -DONEBOX_CONFIG_CFG80211
	CONFIG_DRIVER_NL80211=y
endif

ifeq ($(HOSTAPD_SUPPORT), y)
	COMPILE_HOSTAPD = "y"
endif

###############################################################################
##############################   NET80211  ####################################
###############################################################################

############################ Bluetooth ##################################
#
ifeq ($(USE_GENL_BT_STACK), y)
	EXTRA_CFLAGS += -DUSE_GENL_BT_STACK
endif

ifeq ($(USE_BLUEZ_BT_STACK), y)
	EXTRA_CFLAGS += -DUSE_BLUEZ_BT_STACK
endif

# Comment below line to disable P2P (Wi-Fi direct) mode
ENABLE_P2P_SUPPORT=y

# Comment below line to disable CCX support
#RSI_CCX=y
